/* 
 * My97���ڿؼ� My97 DatePicker Ver 4.0
 * Ƥ������:default
 * Ƥ������:My97
 */

/* ����ѡ������ DIV */
.WdateDiv {
    width: 220px;
    background-color: #f2f2f2;
    border: #808080 1px solid;
    padding: 2px;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#cccccc');
    font-family: Arial;
}

.WdateDiv * {
    font-size: 9pt;
    font-family: Arial;
}

/****************************
 * ����ͼ��
 ***************************/
.WdateDiv .NavImg {
    cursor: pointer;
    width: 18px;
    height: 16px;
    margin-top: 4px;
}

.WdateDiv .NavImgll {
    background: url(navLeft.gif) no-repeat;
}

.WdateDiv .NavImgl {
    background: url(left.gif) no-repeat;
}

.WdateDiv .NavImgr {
    background: url(right.gif) no-repeat;
}

.WdateDiv .NavImgrr {
    background: url(navRight.gif) no-repeat;
}

/****************************
 * ����·����
 ***************************/
/* ����·��� DIV */
.WdateDiv #dpTitle {
    height: 24px;
    margin-bottom: 2px;
    background: #f2f2f2;
    margin-left: 5px;
}

/* �������� INPUT */
.WdateDiv .yminput {
    margin-top: 2px;
    text-align: center;
    border: 0px;
    height: 20px;
    cursor: pointer;
    background: #f2f2f2;
    vertical-align: middle;

}

/* �·������ INPUT */
.WdateDiv .yminput_date {
    margin-top: 2px;
    margin-left: 10px;
    padding-top: 3px;
    text-align: center;
    border: 0px;
    height: 20px;
    cursor: pointer;
    background: #f2f2f2;
    vertical-align: middle;

}

/* �·�������ý���ʱ����ʽ INPUT */
.WdateDiv .yminputfocus2 {
    margin-top: 2px;
    margin-left: 10px;
    padding-top: 3px;
    text-align: center;
    font-weight: bold;
    color: blue;
    border: #808080 1px solid;
    height: 16px;
}

/* ����·�������ý���ʱ����ʽ INPUT */
.WdateDiv .yminputfocus {
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
    color: blue;
    border: #808080 1px solid;
    height: 16px;
}

/* �˵�ѡ��� DIV */
.WdateDiv .menuSel {
    position: absolute;
    top: 10px;
    background-color: #FFFFFF;
    border: #808080 1px solid;
    display: none;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#cccccc');
}

/* �˵�����ʽ TD */
.WdateDiv .menu {
    cursor: pointer;
    background-color: #fff;
    text-align: center;
}

/* �˵���mouseover��ʽ TD */
.WdateDiv .menuOn {
    cursor: pointer;
    background-color: #426fd9;
    color: #fff;
    text-align: center;
}

/* �˵���Чʱ����ʽ TD */
.WdateDiv .invalidMenu {
    color: #aaa;
}

/* ��ѡ����ƫ�� DIV */
.WdateDiv .YMenu {
    margin-top: 16px;

}

/* ��ѡ����ƫ�� DIV */
.WdateDiv .MMenu {
    margin-top: 16px;
    width: 62px;
}

/* ʱѡ����λ�� DIV */
.WdateDiv .hhMenu {
    margin-top: 90px;
    margin-left: 26px;
}

/* ��ѡ����λ�� DIV */
.WdateDiv .mmMenu {
    margin-top: 130px;
    margin-left: 26px;
}

/* ��ѡ����λ�� DIV */
.WdateDiv .ssMenu {
    margin-top: -24px;
    margin-left: 26px;
}

/****************************
 * �����
 ***************************/
.WdateDiv .Wweek {
    text-align: center;
    background: #c1e1dd;
}

/****************************
 * ����,�������
 ***************************/
/* ������ TR */
.WdateDiv .MTitle {
    background-color: #f2f2f2;
    border-bottom: #ccc 1px solid;
    font-weight: bold;
}

/* ��������� TABLE */
.WdateDiv .WdayTable {
    line-height: 23px;
}

/* ���ڸ����ʽ TD */
.WdateDiv .Wday {
    cursor: pointer;
    color: #0066cc;
    font-size: 14px;

}

/* ���ڸ��mouseover��ʽ TD */
.WdateDiv .WdayOn {
    cursor: pointer;
    background-color: #426fd9;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/* ��ĩ���ڸ����ʽ TD */
.WdateDiv .Wwday {
    cursor: pointer;
    color: #0066cc;
    font-size: 14px;

}

/* ��ĩ���ڸ��mouseover��ʽ TD */
.WdateDiv .WwdayOn {
    cursor: pointer;
    color: #fff;
    background-color: #ff7800;
    font-size: 14px;
}

.WdateDiv .Wtoday {
    cursor: pointer;
    color: blue;
    font-size: 14px;
}

.WdateDiv .Wselday {
    background-color: #426fd9;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/* �����·ݵ����� */
.WdateDiv .WotherDay {
    cursor: pointer;
    color: #a6a6a6;
    background: #e3e3e3;
    font-size: 14px;
}

/* �����·ݵ�����mouseover��ʽ */
.WdateDiv .WotherDayOn {
    cursor: pointer;
    background-color: #bebdbd;
    color: #fff;
    font-size: 14px;
}

/* ��Ч���ڵ���ʽ,�������ڷ�Χ�������ڸ����ʽ,����ѡ������� */
.WdateDiv .WinvalidDay {
    color: #aaa;
    font-size: 14px;
}

/****************************
 * ʱ�����
 ***************************/
/* ʱ���� DIV */
.WdateDiv #dpTime {
    float: left;
    margin-top: 3px;
    width: 80%;

}

/* ʱ������ SPAN */
.WdateDiv #dpTime #dpTimeStr {
    margin-left: 2px;
}

/* ʱ������� INPUT */
.WdateDiv #dpTime input {
    height: 20px;
    width: 18px;
    text-align: center;
    border: #ccc 1px solid;
}

/* ʱ�� ʱ INPUT */
.WdateDiv #dpTime .tB {
    border-right: 0px;
}

/* ʱ�� �ֺͼ���� ':' INPUT */
.WdateDiv #dpTime .tE {
    border-left: 0;
    border-right: 0;
}

/* ʱ�� �� INPUT */
.WdateDiv #dpTime .tm {
    width: 7px;
    border-left: 0;
    border-right: 0;
}

/* ʱ���ұߵ����ϰ�ť BUTTON */
.WdateDiv #dpTime #dpTimeUp {
    height: 10px;
    width: 13px;
    border: 0px;
    background-image: url(up.jpg);
}

/* ʱ���ұߵ����°�ť BUTTON */
.WdateDiv #dpTime #dpTimeDown {
    height: 10px;
    width: 13px;
    border: 0px;
    background-image: url(down.jpg);
}

/****************************
 * ����
 ***************************/
.WdateDiv #dpQS {
    margin-top: 3px;
    background: url(date.gif) no-repeat right;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;

}

.WdateDiv #dpControl {
    text-align: left;
    margin-top: 3px;
    clear: both;
}

.WdateDiv .dpButton {
    height: 20px;
    width: 45px;
    border: #ccc 1px solid;
    padding: 2px 5px 2px 2px;
    margin: 3px 15px 3px 5px;
    float: right;
    border: 1px solid #808080;
}