<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinysoft.cn.domain.ContractProduct">
    <resultMap id="ContractProductRM" type="com.tinysoft.cn.domain.ContractProduct">
        <!--主键-->
        <id property="id" column="contract_product_id"></id>
        <!--购销合同的id-->
        <result property="contractId" column="CONTRACT_ID"/>
        <!--生产厂家的id-->
        <result property="factoryId" column="FACTORY_ID"/>
        <!--生产厂家的名字-->
        <result property="factoryName" column="FACTORY_NAME"/>
        <!--货物编号-->
        <result property="productNo" column="PRODUCT_NO"/>
        <!--货物图片-->
        <result property="productImage" column="PRODUCT_IMAGE"/>
        <!--货物描述-->
        <result property="productDesc" column="PRODUCT_DESC"/>
        <!--数量-->
        <result property="cnumber" column="CNUMBER"/>
        <!--实际出货量-->
        <result property="outNumber" column="OUT_NUMBER"/>
        <!--装率-->
        <result property="loadingRate" column="LOADING_RATE"/>
        <!--箱数-->
        <result property="boxNum" column="BOX_NUM"/>
        <!--包装单位-->
        <result property="packingUnit" column="PACKING_UNIT"/>
        <!--单价-->
        <result property="price" column="PRICE"/>
        <!--总金额-->
        <result property="amount" column="AMOUNT"/>
        <!--是否出货完毕-->
        <result property="finished" column="FINISHED"/>
        <!--附件-->
        <result property="exts" column="EXTS"/>
        <!--排序号-->
        <result property="orderNo" column="ORDER_NO"/>
    </resultMap>

    <select id="find" parameterType="map" resultMap="ContractProductRM">
        select * from contract_product_c
        where 1=1 <if test="contractId != null"> and contract_id = #{contractId}</if>
    </select>

    <select id="get" parameterType="string" resultMap="ContractProductRM">
        select * from contract_product_c where contract_product_id = #{id}
    </select>

    <insert id="insert" parameterType="com.tinysoft.cn.domain.ContractProduct">
      insert into contract_product_c
		(CONTRACT_PRODUCT_ID,CONTRACT_ID,FACTORY_ID,FACTORY_NAME,PRODUCT_NO,
			PRODUCT_IMAGE,PRODUCT_DESC,CNUMBER,OUT_NUMBER,LOADING_RATE,BOX_NUM,
			PACKING_UNIT,PRICE,AMOUNT,FINISHED,EXTS,ORDER_NO)
		values(
			#{id},
			#{contractId},
			#{factoryId},
			#{factoryName, jdbcType=VARCHAR},
			#{productNo, jdbcType=VARCHAR},
			#{productImage, jdbcType=VARCHAR},
			#{productDesc, jdbcType=VARCHAR},
			#{cnumber, jdbcType=INTEGER},
			#{outNumber, jdbcType=INTEGER},
			#{loadingRate, jdbcType=VARCHAR},
			#{boxNum, jdbcType=INTEGER},
			#{packingUnit, jdbcType=VARCHAR},
			#{price, jdbcType=DOUBLE},
			#{amount, jdbcType=DOUBLE},
			#{finished, jdbcType=INTEGER},
			#{exts, jdbcType=VARCHAR},
			#{orderNo, jdbcType=INTEGER}
		)
    </insert>

    <update id="update" parameterType="com.tinysoft.cn.domain.ContractProduct" >
        update contract_product_c
        <set>
            CONTRACT_ID=#{contractId},
            FACTORY_ID=#{factoryId},
            <if test="factoryName != null">FACTORY_NAME=#{factoryName},</if>
            <if test="productNo != null">PRODUCT_NO=#{productNo},</if>
            <if test="productImage != null">PRODUCT_IMAGE=#{productImage},</if>
            <if test="productDesc != null">PRODUCT_DESC=#{productDesc},</if>
            <if test="cnumber != null">CNUMBER=#{cnumber},</if>
            <if test="outNumber != null">OUT_NUMBER=#{outNumber},</if>
            <if test="loadingRate != null">LOADING_RATE=#{loadingRate},</if>
            <if test="boxNum != null">BOX_NUM=#{boxNum},</if>
            <if test="packingUnit != null">PACKING_UNIT=#{packingUnit},</if>
            <if test="price != null">PRICE=#{price},</if>
            <if test="amount != null">AMOUNT=#{amount},</if>
            <if test="finished != null">FINISHED=#{finished},</if>
            <if test="exts != null">EXTS=#{exts},</if>
            <if test="orderNo != null">ORDER_NO=#{orderNo},</if>
        </set>
        where contract_product_id=#{id}
    </update>

    <delete id="delete" parameterType="string" >
         delete from contract_product_c
         where contract_product_id IN
         <foreach collection="array"  item="id" open="(" close=")" separator=",">
             #{id}
         </foreach>
    </delete>
    <delete id="deleteById" parameterType="string">
        delete from contract_product_c
        where contract_product_id = #{id}
    </delete>

    <delete id="deleteContractProductByContractId" parameterType="string">
        delete from contract_product_c
        where CONTRACT_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>